*{
    padding: 0px;
    margin: 0px;
}
.header{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 70px;
    background-color: #1a212f;
}
.header_item{
    margin-bottom: 20px;
    margin-top: 20px;
 }
#search{
    width: 300px; 
}
.topmenu{
    width: 100%;
     font-family: sans-serif;
    background: linear-gradient(#1a212f, #354659);
    /* background-color: rgb(130, 130, 224); */

}
.topmenu>ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    
}
.topmenu>ul>li{
    width: 100%;
}
.topmenu>ul>li>a{
    display: block;
    text-decoration: none;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #03e9f4;
    text-align: center;
}
.topmenu>ul>li>a:hover {
    background: #03e9f4;
    color: #fff;
    /* border-radius: 5px; */
    
    /* box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4; */
  }
/* đăng nhập */

  html {
    height: 100%;
  }
  .bodydangnhap {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
  }
  
  .login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
  }
  #ql{
    display: none;
  }
  .login-box form input[type=submit] {
    position: relative;
    display: inline-block;
    padding: 10px 100px ;
    color: #214749;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
    
  }
  .login-box a{
    display:inline-block;
    text-decoration: none;
    margin: 20px 40%;
  }
  .txtdangki{
    display:inline-block;
    margin: 20px 21% !important;
  }
  .login-box input[type=submit]:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    /* box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4; */
  }
  
  /* .login-box a span {
    position: absolute;
    display: block;
  } */
  /* input[type=submit]{
    border: none;
    display: block;
  } */
  .login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
  }
  
  /* @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  } */
  
  /* .login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  } */
  
  /* @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  } */
/*   
  .login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  } */
  
  /* @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  } */
  
  /* .login-box a a:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  } */
  
  /* @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  } */

  /* slide */
  .all_header{
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: white;
  }
  .slide{
  position: relative;
   width: 100%;
   height: 400px;
   top: 110px;
  }
  .slide>div>img{
    width:100%;
  }
  .slide>div{
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: absolute;

  }

  .content{
    /* margin-top: 32px; */
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .sanpham_item{
    /* width: 100%; */
    max-width: 30%;
    margin-left: 45px;
    margin-bottom: 28px;
    max-height: 300px;
    height: 100%;
    cursor: pointer;
    color: #bac1ce;
    text-align: center;
  }
  .content img{
    width: 100%;
    height: 250px;
  }
  /* .sanpham_item h3,h4{ */
    /* margin-left: 30%; */
  /* } */
.trang{
  margin-left: 40%;
}
.btphantrang{
  background-color: red;
}
  .trang a,.btphantrang{
   /* width: 50px; */
   padding: 5px 15px;
   cursor: pointer;
   border: 1px solid black;
   margin-left: 10px;
   border-radius: 5px;
  }
  .trang a{
    background-color: #354659;
    color: #fff;
    text-decoration: none;
  }
  .foodter{
    border: 2px solid #A2B5CD ;
    background-color: #0a2f54;
    width: 100%;
    margin-top: 30px;
    height: 300px;
  }
  .foodter div{
    float: left;
    width: 33%;
  }
  .all_content{
    display: flex;
    margin-top: 30px;
  }
  .left{
    /* border-right:10px solid #f0eaea; */
    width: 25%;
    text-align: center;
  }
  #left_ct{
    display: none;
  }
  .left div{
    background-color: #141e30;
    color: #c5c5d9;
  }
  .left a,.left div{
    padding: 10px 10px;
    border: 1px solid #A2B5CD;
    /* border-radius: 5px; */
    display: block;
    text-decoration: none;
    width: 90%;
    margin: 0px auto;
    /* margin-top: 10px; */

  }
  .left a:hover{
    cursor: pointer;
    background: #bac1ce;
    color: #141e30;
    opacity: 0.5;
  }
#tr1{
  color: red;
}
.chitiet{
  position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
#infoProduct {
  
  text-align: center;
  margin-bottom: 30px;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-size: 24px;
  color: #fff;
  background-color: rgb(80, 80, 80);
  line-height: 80px;
}
#shopping-cart{
  border: 1px solid black;
  /* width: 80%; */
  background-color: #bac1ce;
}

.modal_container {
  margin-top: 20px;
  max-width: 800px;
  max-height: 540px;
  border-radius: 5px;
  margin: 90px auto;
  background-color: rgb(221, 220, 220);
  animation: modal-animation ease 0.4s;
}
.ctsp{
  display: flex;
}
#shopping-cart img {
  max-width: 34%;
  width: 100%;
  margin-right: 50px;
  margin-left: 20px;
}

#shopping-cart .shopping_cart_item {
  display: flex;
  justify-content: center;
  margin: 30px;
}
.edit{
  cursor: pointer;
}
/* gio hang */
#slgh{
  border: none;
  height: 30px;
}

.tbgiohang th{
  background-color: #354659;
  color: white;
}
.tbgiohang a{
  text-decoration: none;
  color: black;
}
.giohang h1{
  text-align: center;
  width: 100%;
  background-color: #141e30;
  padding: 20px 20px;
  color: white;
}
.boxgh{
  margin: 10px 10px;
}
.tbgiohang tr{
  background-color: #bac1ce;
  height: 50px;
}
#slgh{
  width: 50px;
  text-align: center;
  background-color: #bac1ce;
}
.tbgiohang input[type=submit]{
  text-align: center;
  border: none;
  background-color: #bac1ce;
  color: black;
  
}
.btdieuhuong{
  display: flex;
 
  justify-content: flex-start;
}
.btdieuhuong div{
  border: 1px solid black;
  /* border-radius: 5px; */
  margin-top: 20px;
  margin-left: 10px;
  /* flex-wrap: wrap; */
  width: 48.6%;
  
  text-align: center;
 
  
  background-color: #141e30;
}
.btdieuhuong a{
  text-decoration: none;
  color: white;
  padding: 10px 10px;
  display: block;
  width: 100%;
}
#bdgh{
  background-color: #525457;
}

.dh{
  display: flex;
}
.ttkh{
  border-right: 1px solid black;
  width: 30%;
  text-align: center;
  position: fixed;
  top: 100px;
}
.sanpham{
  width: 70%;
}
.dathang h2{
  text-align: center;
  margin-top: 10px;
}
.dathang h1{
  position: fixed;
  z-index: 1;
}
.dathang .sanpham{
  position: absolute;
    left: 30%;
    top: 80px;
}
.sanpham_lichsu table{
  width: 100%;
}

.themvaogiohang,.close{
  margin-top: 10px;
  padding: 10px 10px;
}
.tongtrang{
  margin-top: 120px;
}
.indexbody{
  background-color: #202d44;
}
.back button{
  padding: 10px 80px;
  margin-top: 10px;
  margin-left: 81%;
}
.back a{
  text-decoration: none;
}
#Hello{
  width: 100%;
  margin: 0px auto;
 
}
.adcontent{
  display: flex;
}
.adloai div{
  display: none;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 5px;
}
.adloai:hover{
  cursor: pointer;
}
.danhmuctk{
  width: 20%;
}
#contenttk{
  width: 79%;
}
#spbc{
  display: flex;
}
#spbc input{
  width: 30px;
  height: 20px;
  margin: 0px 10px;
}
#spbc div{
  border: 1px solid black;
  background-color: #e3e9f0;
  /* width: 30px;
  height: 20px; */
  padding: 3px 10px;
}
#back1 button{
 
  margin-top: 10px;
  /* margin-left: 81%; */
}
#back1 a{
  width: 93%;
  padding: 10px 80px;
  text-decoration: none;
}
#tkbtloc{
  margin-top: 10px;
  width: 92%;
  /* padding: 10px 80px; */
}
.thoigian{
  width: 100%;
  margin-top: 10px;
}